.vscode/**
typings/**
client/node_modules
client/src/**
**/*.map
.gitignore
tsconfig.json
package-lock.json
server/obj/**/*
server/**/*.cs
server/**/*.csproj
server/bin/Debug/**/*
node_modules
client/package.json
client/package-lock.json
client/tsconfig.json
syntax-visualizer.sln
