body {
  background-color: transparent;
}

table {
  width: 100%;
  padding: 0;
}

table > tbody > tr > th {
  text-align: left;
}

table {
  border-collapse: collapse;
}
table td,
table th {
  border-bottom: 1px solid var(--vscode-foreground);
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}

td,
th {
  padding: var(--input-padding-vertical) var(--input-padding-horizontal);
}

.welcome-view-content {
  padding: 0 20px 1em;
}

.welcome-view-content > p {
  margin-block-start: 1em;
}

table tr td:first-child {
  text-transform: capitalize;
}

.collapsed {
  overflow: hidden;
  text-overflow: ellipsis;
}
